<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<h1>Substraction</h1>
<form action="{%url 'substraction'%}" method="post">
    {%csrf_token%}
    <label for="">first</label>
    <input type="text" name="num1">
    <label for="">second</label>
    <input type="text" name="num2">
    <input type="submit" value="Sub">
</form>
{%if result%}
<h1>Result{{result}}</h1>
{%endif%}
<h1></h1>
</body>
</html>