<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Serach Task</h1>

<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit">
</form>
<table class="table">
            <tr>
                <td>id</td>
                <td>TaskName</td>
                <td>Date</td>
                <td>Status</td>
            </tr>
            {%for task in tasks%}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.task_name}}</td>
                <td>{{task.date}}</td>
                <td>{{task.status}}</td>

            </tr>
            {%endfor%}
        </table>
</body>
</html>